.postItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-color: #fff;
  width: 100%;
}

.postItemLink {
  width: 100%;
  text-decoration: none;
  color: #333;
  padding: 1rem;
}
